@import "../abstracts/variables";

.calculator {
    $root: &;

    background: $vivid-red;
    max-width: 30rem;
    margin: 0 auto;
    border-radius: 3.5rem;
    box-sizing: border-box;
    padding-top: 4.3rem;
    font-family: 'Varela Round';

    &__result {
        background: $light-grayish-green;
        box-sizing: border-box;
        padding: 1rem;
        text-align: right;
        &-hint {
            font-size: 1.4rem;
            text-align: center;
            width: 100%;
            display: block;
        }

        &-input {
            font-size: 3.4rem;
            display: block;
            max-width: 100%;
            border: 0;
            background: transparent;
            text-align: right;
            box-sizing: border-box;
            padding: 2rem .5rem .5rem;
        }
    }

    &__btn-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        width: 33.33%;
        flex-basis: 33.33%;
        border: .1rem solid $white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: $white;
        font-family: 'Varela Round';
        height: 10rem;
        font-size: 3.4rem;
        &--long {
            width: 66.66%;
            flex-basis: 66.66%;
        }
    }
}

.calculator-section {
    font-size: 2.4rem;
    font-family: 'Varela Round';
    min-height: 60rem;
    display: flex;
    flex-wrap: wrap;

    &__column {
        width: 100%;
        flex-basis: 100%;
        @media screen and (min-width: $width-lg) {
            flex-basis: 50%;
            width: 50%;
        }
    }

    &__result {
        font-size: 6rem;
        background: $light-cyan;
        margin: 2rem 1rem;
        box-sizing: border-box;
        padding: 3rem;
        &::after {
            content: ' zł';
        }
    }

    &__paragraph {
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin: 2rem 2rem;
        padding-bottom: 3rem;
        position: relative;
        text-align: justify;

        &::after {
            content: url('/images/2-layers-3.png');
            display: block;
            transform: scaleX(-1);
            position: absolute;
            bottom: -2rem;
            left: 0;
        }
    }
}