@import "../abstracts/variables";

.categories {
    font-size: 2rem;
    &__container {
        max-width: $width-lg;
        width: 100%;
        margin: 0 auto;
        padding: 5rem;
    }

    &__title {
        font-size: 4rem;
        margin: 2rem 0 5rem;
        font-weight: 600;
    }

    &__listing {
        list-style: disc;
        margin-left: 2rem;
    }

    &__item {
        margin: 0 0 2rem;
    }
}