@import "../abstracts/variables";

.footer {
    $root: &;
    background: $night-rider;
    padding: 0 0 5rem;
    color: $red-grey;
    font-size: 1.6rem;
    line-height: 2.5rem;

    &__container {
        width: 100%;
        padding: 0 3rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: $width-lg;
    }

    &__section {
        display: flex;
        @media screen and (min-width: $width-lg) {
            flex-basis: 33.3%;
        }
    }

    &__column {
        flex-basis: 100%;
        width: 100%;

        @media screen and (min-width: $width-lg) {
            width: 50%;
            flex-basis: 50%;
        }
    }

    &__title {
        font-size: 3.2rem;
        color: $white;
        margin: 5rem 0 4rem;
        position: relative;
        font-weight: 500;
        line-height: normal;

        &::after {
            content: url('/images/long_line.png');
            position: absolute;
            bottom: -3rem;
            left: 0;
        }
    }

    &__header {
        color: $white;
        font-weight: 500;
        margin-top: 1.5rem;
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        margin: 1rem 0 3rem;

        &-item {
            margin-right: 1.7rem;
        }
    }

    &__tel,
    &__mail {
        color: $white;
        font-weight: 500;
    }
    
    &__contact-info {
        padding-top: 2rem;
    }

    &__tel-icon,
    &__mail-icon {
        padding: 2rem;
    }
}