@import "../abstracts/variables";

.hero {
  $root: &;
  position: relative;
  min-height: 47rem;
  box-sizing: border-box;
  background-color: $light-cyan;
  background-repeat: no-repeat;
  background-position: 60% center;
  @media screen and (min-width: $width-md) {
    min-height: 30rem;
  }

  &--large {
    height: 75rem;
    min-height: 75rem;
  }

  &__pattern {
    display: none;
    @media screen and (min-width: $width-lg) {
      display: block;
      position: absolute;
    }

    &--left {
      top: 0;
      left: 0;
    }

    &--right {
      top: 0;
      right: 0;
      transform: scaleX(-1);
    }
  }

  &__decorator {
    width: 8rem;
    position: absolute;
    opacity: .9;
    display: none;
    @media screen and (min-width: $width-md) {
      width: 13rem;
      display: block;
    }
    @media screen and (min-width: $width-lg) {
      width: 15rem;
    }

    &--green {
      top: 0;
      right: 0;
    }

    &--red {
      top: 34.5rem;
      left: 0;

      #{$root}--large & {
        display: none;
      }

      @media screen and (min-width: $width-md) {
        top: 10rem;
      }
      @media screen and (min-width: $width-lg) {
        top: 6.5rem;
      }
    }
  }

  &__container {
    max-width: $width-lg;
    height: 47rem;
    min-height: 100%;
    margin: 0 auto;
    padding: 7rem 4rem 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
    position: relative;

    @media screen and (min-width: $width-md) {
      height: 30rem;
      padding-top: 3rem;
      background-size: auto;
      background-position: center;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    #{$root}--large & {
      @media screen and (min-width: $width-lg) {
        padding-top: 0;
        background-position: bottom left;
        background-size: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  &__background {
    &--budget {
      background-image: url("/images/backgrounds/calculator-page.png");
    }

    &--budget-closeup {
      background-image: url("/images/backgrounds/calculator-page.png");
    }

    &--calculator-page {
      background-image: url("/images/backgrounds/calculator-page.png");
    }

    &--investments-page {
      background-image: url("/images/backgrounds/investments-page-mobile.png");
      @media screen and (min-width: $width-md) {
        background-image: url("/images/backgrounds/investments-page.png");
      }
    }

    &--participation {
      background-image: url("/images/backgrounds/participation-mobile.png");
      @media screen and (min-width: $width-md) {
        background-image: url("/images/backgrounds/participation.png");
      }
    }
  }

  &__title {
    margin-top: 10rem;
    font-size: 4rem;
    width: 100%;
    font-family: 'Varela Round';
    position: absolute;
    top: 5rem;
    left: 2rem;

    @media screen and (min-width: $width-md) {
      width: 36rem;
      margin: 0 4rem;
      top: 10rem;
      left: 33rem;
    }

    #{$root}--large & {
      text-transform: uppercase;

      @media screen and (min-width: $width-lg) {
        text-align: right;
        width: 36rem;
        margin-top: 15rem;
        margin-right: 12rem;
      }
    }

    &::after {
      content: url('/images/3-layers.png');
      position: absolute;
      bottom: -5rem;
      left: -1rem;
      @media screen and (min-width: $width-lg) {
        bottom: -3rem;
        left: 5rem;
      }

      #{$root}--large & {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: 2rem;
    color: $deep-gray;
    margin: 1rem 0 3rem;
    line-height: 2.5rem;
    @media screen and (min-width: $width-lg) {
      width: 36rem;
    }
  }
}