@import "../abstracts/variables";

.investment {
  display: flex;
  justify-content: center;
  background-color: $white;

  &:nth-of-type(2n+0) {
    background-color: $light-cyan;
  }

  @media screen and (min-width: $width-md) {
    max-height: 50rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media screen and (min-width: $width-md) {
      max-width: $width-lg;
    }

    &--right {
      @media screen and (min-width: $width-md) {
        flex-direction: row-reverse;
      }
    }

    &--left {
      @media screen and (min-width: $width-md) {
        flex-direction: row;
      }
    }
  }

  &__text {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $width-lg) {
      max-width: 50%;
    }

    &--right {
      align-items: center;
      @media screen and (min-width: $width-md) {
        align-items: flex-start;
      }
    }

    &--left {
      align-items: center;
      @media screen and (min-width: $width-md) {
        align-items: flex-end;
      }
    }
  }


  &__title {
    max-width: 90%;
    margin: 0 0 4rem;
    font-size: 3.8rem;
    font-family: 'Varela Round';
    position: relative;

    @media screen and (min-width: $width-md) {
      max-width: 50rem;
    }

    &::after {
      display: none;
      @media screen and (min-width: $width-md) {
        display: block;
        content: url('/images/3-layers.png');
        bottom: -3rem;
        position: absolute;
      }
    }

    &--right {
      text-align: center;
      @media screen and (min-width: $width-md) {
        text-align: left;
      }
      &::after {
        left: 0;
      }
    }

    &--left {
      text-align: center;
      @media screen and (min-width: $width-md) {
        text-align: right;
      }
      &::after {
        right: 0;
      }
    }
  }

  &__description {
    margin: 0 1rem 3rem;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $silver;
    max-width: 60rem;

    @media screen and (min-width: $width-md) {
      margin: 0 0 3rem;
    }

    @media screen and (min-width: $width-lg) {
      max-width: 50rem;
    }

    &--right {
      text-align: center;
      @media screen and (min-width: $width-md) {
        text-align: left;
      }
    }

    &--left {
      text-align: center;
      @media screen and (min-width: $width-md) {
        text-align: right;
      }
    }
  }

  &__image {
    width: 100%;
    @media screen and (min-width: $width-md) {
      max-width: 50%;
    }
    @media screen and (min-width: $width-lg) {
      max-width: 50rem;
    }
  }

}