// Utils

// - breakpoints

$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// - colors

$white: #fff;
$yellow: #fc9700;
$yellow-active: #674f2d;
$black: #2b2b2b;
$grey: #808080;
$transparent-black: rgba(43, 43, 43, 0.6);
$transparent-grey: rgba(43, 43, 43, 0.5);


// - variables
$mobile-width: 37.5rem;
$desktop-width: 144rem;
$mobile-height: 5.1rem;
$desktop-height: 8rem;
$border-radius: 1rem;