@import "../abstracts/variables";

.budget {
    $root: &;
    padding: 4rem 0 2rem;

    &__title {
        width: 100%;
        text-align: center;
        color: $night-rider;
        font-family: 'Varela Round';
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 6rem;
        margin: 0 auto 3rem;
        position: relative;

        @media screen and (min-width: $width-lg) {
            
            &::before,
            &::after {
                content: url('/images/2-layers.png');
                position: absolute;
                width: 20rem;
                height: .3rem;
                top: -1.5rem;
            }
            &::before {
                left: 5%;
            }
            &::after {
                right: 5%;
                transform: scaleX(-1);
            }
        }
    }

    &__container {
        max-width: $width-lg;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: $width-lg;
    }
}