@import "../abstracts/variables";

.button {
  color: $white;
  padding: .375rem .75rem;
  height: 5.5rem;
  width: 17rem;
  text-align: center;
  line-height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.8rem;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: url('/images/shine.png');
    position: absolute;
    top: .7rem;
    left: .7rem;
  }

  &--red {
    background-color: $vivid-red;

    &:hover {
      background-color: $green;
    }
  }

  &--green {
    background-color: $green;

    &:hover {
      background-color: $vivid-red;
    }
  }
}