@import "../abstracts/variables";

.hero-large {
  background-color: $light-cyan;
  min-height: 65rem;
  position: relative;
  background-image: url("/images/zamek.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  @media screen and (min-width: $width-md) {
    background-size: unset;
    background-image: url("/images/zamek.png");
    background-repeat: no-repeat;
    background-position: 10% bottom;
  }

  &__pattern {
    display: none;
    @media screen and (min-width: $width-lg) {
      display: block;
      position: absolute;
    }

    &--left {
      top: 0;
      left: 0;
    }

    &--right {
      top: 0;
      right: 0;
      transform: scaleX(-1);
    }
  }

  &__decorator {
    width: 8rem;
    position: absolute;
    opacity: .9;
    display: none;
    @media screen and (min-width: $width-md) {
      width: 13rem;
      display: block;
    }
    @media screen and (min-width: $width-lg) {
      width: 15rem;
    }

    &--green {
      top: 0;
      right: 0;
    }

    &--red {
      display: none;

      @media screen and (min-width: $width-md) {
        top: 10rem;
        left: 0;
      }
      @media screen and (min-width: $width-lg) {
        top: 6.5rem;
        left: 0;
      }
    }
  }

  &__container {
    max-width: $width-lg;
    min-height: 100%;
    margin: 0 auto;
    padding: 4rem;
    position: relative;

    @media screen and (min-width: $width-md) {
      background-position: bottom left;
      background-size: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    @media screen and (min-width: $width-md) {
      width: 40rem;
    }
  }

  &__title {
    font-size: 4rem;
    width: 100%;
    font-family: 'Varela Round';
    text-transform: uppercase;
    text-align: left;

    @media screen and (min-width: $width-md) {
      width: 36rem;
      margin-top: 15rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    color: $deep-gray;
    margin: 1rem 0 3rem;
    line-height: 2.5rem;
    @media screen and (min-width: $width-lg) {
      width: 36rem;
    }
  }

  &__description {
    color: $red-grey;
    font-size: 1.6rem;
    line-height: 2.5rem;
    position: relative;
    overflow: hidden;
    padding: 0 0 3rem;
    font-family: 'Varela Round';
    text-align: right;

    &::after {
      content: url('/images/3-layers.png');
      position: absolute;
      bottom: 1rem;
      right: -15rem;
      height: 1rem;
    }
  }
}
