html {
    font-size: 10px;
    font-family: Roboto, sans-serif;
}

sub {
    font-size: 75%;
    position: relative;
    bottom: -.25em;
}

sup {
    font-size: 75%;
    position: relative;
    top: -.5em;
}

strong,
b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.pwa-arrow-left,
.pwa-arrow-right {
    &--disabled {
        color: $grey-silver;
        cursor: not-allowed;
    }
}

@font-face {
    font-family: Oswald-Bold;
    src: url('/fonts/oswald/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Varela Round';
    src: url('/fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 700;
}
