.App {
  text-align: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  height: 5rem;
}

.App-header {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  list-style-type: none;
  a {
    color: white;
    text-decoration: none;
  }
}

.main-image {
  height: 50rem;
  margin: 5rem auto;
}

.goodbye-container {
  background-image: url("../src/margot-robbie-ass.png");
  background-size: cover;
}